.footer {
  display: flex;
  font-family: "Inter 400";
  font-size: 14px;
  line-height: 1.1;
  margin: 90px auto 0;
  padding-bottom: 24px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: fit-content;
    font-size: 14px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    width: fit-content;
    font-size: 14px;
    margin: 0 auto;
  }
}
