.footer {
  display: flex;
  font-family: "Inter 400";
  font-size: 14px;
  line-height: 1.1;
  margin: 92px auto 0;
  padding-bottom: 24px;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  .footer {
    width: fit-content;
    font-size: 14px;
    margin: 88px auto 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer {
    width: fit-content;
    font-size: 14px;
    margin: 64px auto 0;
  }
}
