.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 34px;
}

.header__logo {
  max-width: 254px;
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  .header {
    padding-top: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    padding-top: 20px;
  }
}
