.into {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin: 92px auto 0;
}

.into__title {
  font-family: "Inter 900";
  font-size: 54px;
  line-height: 1.07;
  margin: 0;
}

.into__quote {
  font-family: "Inter 400";
  font-size: 24px;
  margin: 0;
}

.into__quote-text {
  line-height: 1.4;
  margin: 0;
  padding: 40px 92px 0 0;
}

.into__quote-author {
  display: flex;
  justify-content: flex-end;
  line-height: 1.4;
  padding: 10px 6px 0 0;
}

.into__text {
  font-family: "Inter 400";
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 32px 10px 0 0;
}

@media screen and (max-width: 1024px) {
  into {
    margin: 90px auto 0;
    padding-left: 0;
  }

  .into__title {
    font-size: 45px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .into__quote {
    font-size: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .into__quote-text {
    padding-top: 50px;
    margin: 0 auto;
  }

  .into__quote-author {
    padding: 10px 0 0;
  }

  .into__text {
    font-size: 16px;
    padding-top: 32px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .into {
    width: fit-content;
    margin: 64px auto 0;
    padding-left: 16px;
    padding-right: 16px;
  }

  .into__title {
    font-size: 32px;
  }

  .into__quote-text {
    padding-top: 40px;
    margin: 0 auto;
    font-size: 24px;
  }

  .into__quote-author {
    padding: 10px 0 0;
  }

  .into__text {
    padding-top: 32px;
    margin: 0 auto;
  }
}
