.places {
  margin: 92px 148px 0;
  display: flex;
  justify-content: center;
  display: inline-block;
}

.place {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "title subtitle"
    "image description"
    "button description"
    "span description";
  row-gap: 48px;
  column-gap: 40px;
  margin-bottom: 80px;
}

.place__title {
  display: flex;
  align-items: end;
  grid-area: title;
  font-family: "Inter 900";
  font-size: 72px;
  line-height: 1;
  max-width: 460px;
  margin: 0;
}

.place__subtitle {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0;
  max-width: 456px;
}

.place__subtitle_artist {
  grid-area: subtitle;
  font-family: "Inter 400";
  font-size: 12px;
  line-height: 1.2;
  color: rgba(170, 170, 170, 1);
  margin: 0;
  padding-bottom: 8px;
}

.place__subtitle_name {
  grid-area: subtitle;
  font-family: "Inter 400";
  font-size: 18px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 1);
  margin: 0;
}

.place__image {
  max-width: 460px;
}

.place__image_1 {
  grid-area: image;
  width: 100%;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

.place__image_1:hover {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.place__paragraph {
  grid-area: description;
  max-width: 484px;
  font-family: "inter 400";
  font-size: 18px;
  line-height: 1.6;
  margin: 0 0 25px;
}

.place__frame {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 356px;
  min-height: 48px;
  gap: 10px;
  background: linear-gradient(
    to right,
    rgba(2, 120, 254, 1),
    rgba(0, 58, 123, 1)
  );
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.place__frame:hover {
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0.75;
}

.place__button {
  grid-area: button;
  text-decoration: none;
  font-family: "Inter 400";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 88px 24px 0;
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .place {
    column-gap: 28px;
    row-gap: 48px;
  }

  .place__title {
    font-size: 42px;
    max-width: 340px;
  }

  .place__subtitle {
    max-width: 352px;
  }

  .place__image {
    max-width: 340px;
    height: fit-content;
  }

  .place__paragraph {
    max-width: 484px;
    font-size: 16px;
  }

  .place__frame {
    max-width: 355px;
    min-height: 48px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    margin-top: 62px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .place {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .place__title {
    font-size: 32px;
    max-width: 288px;
    gap: 0;
    margin: 0;
  }

  .place__subtitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    max-width: 288px;
  }

  .place__subtitle_artist {
    font-size: 12px;
    padding-bottom: 8px;
    padding-top: 0;
  }

  .place__subtitle_name {
    font-size: 18px;
  }

  .place__image {
    max-width: 320px;
  }

  .place__paragraph {
    max-width: 288px;
    font-size: 16px;
  }

  .place__frame {
    width: 100%;
    min-height: 48px;
  }

  .place__button {
    max-width: 245px;
    font-size: 14px;
  }
}
